.container{
    height: 55vh;
    overflow: auto;
}

.contenedor{
    display: flex;
    justify-content: center;
    align-items:center;
}

.row{
    display: flex;
    justify-content: center;
}

.col{
    display: flex;
    border: 1px solid rgb(162, 162, 162);
    justify-content: center;
    padding: 0;
}

.col span{
    width: 100%;
    text-align: center;
}

.col-1{
    width: 5vw;
}

.col-2{
    width: 9vw;
}

.col-3{
    width: 11vw;
}

p{
    margin: 0;
    padding: 0;
}

.pagoStyle{
    background-color: var(--bg-color);
}

.success{
    background-color: rgb(52, 207, 88);
    color: aliceblue;
    border: none;
    font-weight: 800;
}

.danger{
    background-color: rgb(255, 80, 80);
    color: aliceblue;
    border: none;
    font-weight: 700;
}

@media (min-width:200px) and (max-width: 1000px){
    b{
        padding: 3px;
    }
    
    .col-1{
        width: 6vw;
        font-size: var(--tx-m);
    }

    .col-2{
        width: 7vw;
    }

    .col-3{
        width: 15vw;
    }

    .col-4{
        width: 28vw;
    }
    
    p{
        writing-mode: vertical-lr;
        display: flex;
        justify-content: center;
        font-size: var(--tx-m);
    }

    span{
        font-size: var(--tx-m);
    }
}