.contenedor{
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 8px;
}

.row{
    text-align: center;
}

.fechas{
    height: auto;
    max-height: 60px;
    overflow: auto;
    border: 1px solid var(--bg-color)
}

p{
    margin: 0;
    padding: 0;
    font-size: var(--tx-m);
}