<div class="contenedor" *ngIf="listadoServ.mensajePagoActual != ''">
    <div class="row">
        <div class="col">
            <p>Hoy {{fechaActual | date: "dd-MM-yyyy"}} le toca abonar a </p>
        </div>
        <div class="col fechas">
            <p *ngFor="let item of listadoServ.mensajePagoActual">
                {{item}}
            </p>
        </div>
    </div>
</div>

<div class="contenedor" *ngIf="listadoServ.mensajePagoFuturo != ''">
    <div class="row">
        <p>PAGOS FUTUROS ({{listadoServ.mensajePagoFuturo.length}}).</p>
        <div class="col fechas">
            <p *ngFor="let item of listadoServ.mensajePagoFuturo">
                {{item}}
            </p>
        </div>
    </div>
</div>