<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarFtth" aria-controls="navbarFtth" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <button class="btnLog" *ngIf="authServ.login; else login" (click)="logOut()">
        <span>Cerrar sesion</span>
      </button>
      <div class="collapse navbar-collapse" id="navbarFtth">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" data-bs-toggle="collapse" data-bs-target="#navbarFtth">
            <a class="nav-link" routerLink="inicio">Inicio</a>
          </li>
            <li class="nav-item" data-bs-toggle="collapse" data-bs-target="#navbarFtth">
            <a class="nav-link" routerLink="controlpagos">Control de pagos</a>
          </li>
          <li class="nav-item" data-bs-toggle="collapse" data-bs-target="#navbarFtth">
            <a class="nav-link" routerLink="edicion">Edicion</a>
          </li>
           <li class="nav-item" data-bs-toggle="collapse" data-bs-target="#navbarFtth">
            <a class="nav-link" routerLink="listado">Listado</a>
          </li>
          <li class="nav-item" data-bs-toggle="collapse" data-bs-target="#navbarFtth">
            <a class="nav-link" routerLink="crear">Ingresar nuevo</a>
          </li>
        </ul>
      </div>
      <ng-template #login>
        <button class=" btnLog" routerLink="login">
          <span>Iniciar sesion</span>
        </button>
      </ng-template>
    </div>
  </nav>