.container{
    height: 50vh;
    overflow: auto;
}

.contenedor{
    display: flex;
    justify-content: center;
    align-items:center;
}

.row{
    display: flex;
    justify-content: center;
}

.col{
    display: flex;
    border: 1px solid rgb(162, 162, 162);
    justify-content: center;
}

.col-1{
    width: 6vw;
    text-align: center;
}

.col-2{
    width: 14vw;
}

.col span{
    width: 100%;
}

@media (max-width: 1400px){
    .row{
        width: 100vw;
    }

    .col-1{
        width: 6vw;
        padding: 1px;
    }

    .col-2{
        padding: 1px;
        min-width: 19vw;
    }

    span{
        font-size: 11px;
    }
    
    p{
        writing-mode: vertical-lr;
        display: flex;
        justify-content: center;
        font-size: 11px;
    }
}