.container{
    height: 50vh;
    overflow: auto;
}
.contenedor{
    display: flex;
    justify-content: center;
}

.row{
    display: flex;
    justify-content: center;
}

.col{
    display: flex;
    border: 1px solid black;
    justify-content: center;
    text-align: center;
}

.col-1{
    width: 3vw;
    text-align: center;
}

.col-1 p{
    writing-mode: vertical-lr;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.col-2{
    width: 17vw;
    text-align: center;
}

.col span{
    width: 100%;
}

 p{
        font-size: 12px;
    }

@media (min-width: 60px) and (max-width: 920px){
    .container{
        min-width: 100vw;
    }
    .col-1{
        width: 4vw;
    }
    .col-2{
        width: 26vw;
    }
    p{
        font-size: 10px;
    }
    span{
        font-size: 10px;
    }
}

 